.about{
    height: 100%;
}
.headshot {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}


.headshot img {
    width: auto;
    height: 100%;
}